<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="user01" class="com.ldm.teststarter.po.MyUser">
        <property name="age" value="19"></property>
        <property name="username" value="ldm"></property>
        <property name="addr" value="广州市"></property>
    </bean>

</beans>